body {
  padding-top: 56px;
}
.logo{
  height: auto;
	width: 200px;
}
.blue-txt{
    color: #1a79d2;
}
.fixed-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.jumbotron{
  background: url('../Images/covid.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
  .card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.row {
  margin: 15px;
}
